.personal-center {
    width: 100%;
    min-height: 100vh;
    background-color: #fefaee;
    padding-bottom: 120px;
    overflow: hidden;

    .user-bar {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-info {
            display: flex;
            align-items: center;

            .avatar {
                width: 64px;
                height: 64px;
                margin-right: 16px;
                border-radius: 50%;
            }

            .user-name {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #02323D;
            }
        }

        .edit-icon {
            width: 24px;
            height: 24px;
        }
    }

    .menu-wrap {
        margin: 0 16px;
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        overflow: hidden;

        .menu-item {
            height: 72px;
            display: flex;
            align-items: center;

            .icon {
                width: 24px;
                height: 24px;
                margin-right: 16px;
            }

            .label-bar {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ECF1F2;

                .label {
                    font-weight: 500;
                    font-size: 16px;
                    color: #02323D;
                    flex: 1;
                }

                .prompt {
                    width: 20px;
                    height: 20px;
                    background: #CD461D;
                    border-radius: 50%;
                    font-size: 12px;
                    color: #FFFFFF;
                    text-align: center;
                    line-height: 20px;
                    margin-right: 12px;
                }

                .arrow-icon {
                    width: 16px;
                    height: 16px;
                }
            }

        }

        .menu-item:last-child {
            .label-bar {
                border: none;
            }
        }
    }

    .logout {
        margin: 24px 16px 0;
        height: 56px;
        border: 2px solid #A4C1C8;
        border-radius: 100px;
        font-weight: 500;
        font-size: 16px;
        line-height: 56px;
        text-align: center;
        text-transform: capitalize;
        color: #02323D;
    }

    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: rgba(0, 0, 0, 0.8);
        padding-top: 20%;

        .modal {
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            border-radius: 24px 24px 0px 0px;
            overflow: hidden;
            position: relative;

            .close-btn {
                width: 30px;
                height: 24px;
                margin: 24px;
            }

            .avatar-wrap {
                width: 80px;
                height: 80px;
                position: relative;
                // border: 2px solid #d3e3e7;
                border-radius: 50%;
                margin: 70px auto 0;

                .edit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    width: 24px;
                    height: 24px;
                }

                .avatar-btn {
                    width: 80px;
                    height: 80px;
                    padding: 0;
                    border-radius: 50%;
                    background-color: none;
                    border: none;

                    .avatar {
                        width: 100%;
                        height: 100%;
                    }
                }

                button::after {
                    border: none;
                }
            }



            .user-name-bar {
                margin-top: 48px;
                padding: 0 20px;

                .label {
                    font-size: 14px;
                    line-height: 16px;
                    color: #02323D;
                    margin-bottom: 4px;
                }
            }

            .submit-btn {
                position: absolute;
                left: 0;
                bottom: 34px;
                margin: 0 16px;
                width: -webkit-fill-available;
                height: 54px;
                box-sizing: border-box;
                background: #FFC19E;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}