.report {
    width: 100%;
    padding: 24px 0;

    .assessment {
        margin-bottom: 32px;
        overflow: hidden;
         padding: 0 24px;
        .assessment-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #02323D;
        }

        .inviter {
            margin-top: 12px;
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #17505C;

            .avatar {
                display: block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 8px;
            }

            .name {
                font-weight: 500;
                margin: 8px;
            }
        }

        .advertisement {
            margin-top: 16px;
            font-size: 16px;
            line-height: 24px;
            color: #17505C;
        }

        .assessment-btn {
            float: right;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 128px;
            height: 40px;
            background: #FFC19E;
            border-radius: 100px;
            font-weight: 500;
            font-size: 16px;
            color: #02323D;
        }
    }

    .report-title {
        padding: 0 24px;
        height: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        color: #02323D;

        .underline {
            width: 186px;
            height: 6px;
        }
    }

    .summary-img {
        display: block;
        margin-top: 22px;
        width: 100%;
        border-radius: 8px;
    }

    .content {
        padding: 24px 0;

        image {
            display: block;
            width: 100%;
        }

        .rich-text {
            width: 100%;
        }
    }

    .more-btn {
        height: 56px;
        border: 2px solid #A4C1C8;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #02323D;
        margin: 0 24px 66px;
    }
}