.pay-order {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .order-info {
        padding: 0px 16px 24px;
        background: #FFE9E2;
        border-radius: 0px 0px 24px 24px;

        .count-down {
            font-size: 14px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            color: #17505C;

            .count-down-num {
                color: #FF8863;
                margin: 0 4px;
            }

        }

        .user-profile {
            margin-top: 16px;
            padding: 16px;
            height: 80px;
            background: #FFFFFF;
            border-radius: 10px;
            display: flex;
            align-items: center;

            .icon {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }

            .profile {
                flex: 1;

                .nickname {
                    height: 24px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #02323D;
                }

                .phone,
                .no-phone {
                    height: 24px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #02323D;
                }

                .no-phone {
                    color: #A4C1C8;
                }
            }

            .btn {
                width: 60px;
                height: 32px;
                border: 2px solid #A4C1C8;
                border-radius: 100px;
                font-weight: 500;
                font-size: 14px;
                line-height: 32px;
                text-align: center;
                color: #02323D;
            }
        }

        .change-phone-mask {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;

            .wrap {
                width: 100%;
                margin: 0 16px;
                padding: 24px;
                height: 304px;
                left: 16px;
                top: 264px;
                background: #FFFFFF;
                border-radius: 16px;

                .close-bar {
                    display: flex;
                    justify-content: flex-end;

                    .close {
                        width: 16px;
                        height: 16px;
                    }
                }

                .title {
                    margin-top: 8px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    color: #02323D;
                }

                .input-wrap {
                    margin-top: 32px;
                    height: 56px;
                    background: #ECF1F2;
                    border-radius: 8px;
                    padding: 16px;
                    display: flex;
                    align-items: center;

                    .prefix {
                        font-weight: 500;
                        font-size: 16px;
                        color: #02323D;
                        margin-right: 16px;
                    }
                }

                .btn,
                .btn-disabled {
                    margin-top: 40px;
                    height: 56px;
                    border-radius: 100px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 56px;
                    text-align: center;
                    
                }
                .btn {
                    color: #02323D;
                    background: #FFC19E;
                }
                .btn-disabled {
                    color: #A4C1C8;
                    background: #ECF1F2;
                }
            }
        }

        .event-title {
            margin-top: 32px;
            font-family: 'Tropiline';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #02323D;
        }

        .sku {
            margin-top: 16px;
            font-size: 16px;
            line-height: 24px;
            color: #17505C;
        }

        .user-name {
            margin-top: 8px;
            font-size: 14px;
            line-height: 16px;
            text-transform: capitalize;
            color: #17505C;
        }

        .address-and-time {
            margin-top: 16px;
            padding: 16px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            border-radius: 10px;

            .city {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #02323D;
            }

            .address {
                margin-top: 4px;
                display: flex;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #02323D;

                .icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                }
            }

            .time {
                margin-top: 16px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #02323D;
            }
        }
    }

    .price-info {
        padding: 24px 16px;

        .price-bar {
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .label {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #17505C;
            }

            .price {
                display: flex;
                align-items: flex-end;
                color: #02323D;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;

                .units {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    margin: 0 4px;
                }

                .num {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                }

            }

            .total-price {
                display: flex;
                align-items: flex-end;
                color: #CD461D;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;

                .units {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    margin-left: 8px;
                    margin-right: 4px;
                }

                .num {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;
                }
            }
        }
    }

    .order-num {
        padding-top: 24px;
        border-top: 1px solid #ECF1F2;
        margin: 7px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 24px;

        .label {
            color: #9AADB1;
        }

        .num {
            color: #02323D;
        }
    }

    .pay-btn-wrap {
        padding: 0 16px 40px;

        .prompt {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #02323D;

            .emphasize {
                font-weight: 500;
                color: #FF8863;
            }
        }

        .pay-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 6px;
            height: 56px;
            background: #FFC19E;
            border-radius: 100px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #02323D;
        }

        .disabled {
            background: #ECF1F2;
            color: #A4C1C8;
        }

        .agreement {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            .hotspot {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #17505C;

                .icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    display: block;
                }
            }

            .link {
                color: #FF8863;
            }
        }
    }

}